:root{
    --maincolor:rgb(244, 248, 252);
    --navbackground:#687864;
    --lightblue:#8FC1E3;
    --lightColor:#F7F9FB;
    --hoverblue:#5085A5;
    --hrcolor:#31708E;
}
.darkmode {
    background-color: rgb(65, 64, 64);
    --maincolor: #475244;
    --navbackground:rgb(108, 110, 112);
    --lightblue:#364a57;
    --lightColor:#999c9e;
    --hoverblue:#284252;
    --hrcolor:#132e3a;
  }
.darkmode  p{
    color:#868788
}
footer{
    bottom:0;
    position:fixed;
    height:20dvh;
    width:100%;
    background-color: var(--hrcolor);
    font-family: sans-serif;
    line-height: 100%;
    left:0;
}
footer p{
    font-size: 2dvh;
    color: var(--lightColor);
    vertical-align: middle;
}
footer h3{
    font-size: 3dvh;
    color: var(--lightblue);
    vertical-align: middle;
}
footer a{
    font-size: 2dvh;
    text-decoration: none;
    color:var(--lightColor);
    padding-right: 1dvw;
}
footer a:hover{
    color: var(--lightblue);
}

footer i{
    margin-right: 2%;
    color: var(--lightColor);
}
footer #contact{
    float:left;
    margin-left:15dvw;
}
@media(min-width:800px){
    footer #contact{
        line-height: 80%;
    }
}
@media (max-width: 800px) {
    footer{
        line-height: 2dvh;
    }
    footer #quicklinks{
        display:none;
    }
}
footer #quicklinks{
    float:right;
    list-style-type: none;
    margin-right:25dvw;
    line-height: 3dvh;
}
footer button{
    background-color: transparent;
    border: none;
    font-size: 300%;
}
.darkmode footer button{
    background-color: transparent;
    border: none;
    font-size: 300%;
    color: white;
}
